<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="questionDao" class="me.mrixs.springotus01.dao.QuestionDaoCsv">
        <constructor-arg name="questionsFilename" value="questions.csv"/>
    </bean>

    <bean id="testingService" class="me.mrixs.springotus01.services.TestingServiceConsole">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>
</beans>